<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Cuyahoga County Meeting Stats</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="An overview of all Cuyahoga County council and committee meetings.">
		<meta name="author" content="Tom Carlin & Kevin Payravi">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	</head>
	<body>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.js"></script>
		
		<div class="container" style="text-align:center;">
			<img src="https://raw.githubusercontent.com/Buckeyes216/fix216/master/app/assets/images/logo.png" width="500px">
		</div>
		
		<%= form_tag welcome_upload_path, multipart: true do %>
		<label for="file">File to Upload</label> <%= file_field_tag "file" %>
		<%= submit_tag %>
		<% end %>
<button class="btn btn-default" type="submit"><%= link_to 'Financial and Budgeting', welcome_meetings_path(name:"CUYAHOGA COUNTY FINANCE & BUDGETING COMMITTEE MEETING ")%></button>
<button class="btn btn-default" type="submit"><%= link_to 'Committee of the whole', welcome_meetings_path(name:"CUYAHOGA COUNTY COMMITTEE OF THE WHOLE MEETING ")%></button>

	</body>
</html>