<%= @committee %>
<table>
<% @meetings.each do |meeting| %>
	<tr>
		<td><%=meeting.name %></td>
		<td><%=meeting.date %></td>
	</tr>
<%end%>
<% @absents.each do |absent| %>
	<tr>
		<td><%=absent.name %></td>
	</tr>
<%end%>
<% @events.each do |event| %>
	<tr>
		<td><%=event.name %></td>
		<td><%=event.description %></td>
	</tr>
<%end%>
</table>
<table>
	<tr>
		<%= @json %>
	</tr>
</table>