
	<body>

		<div class="navbar navbar-default navbar-fixed-top" style="text-align:center;width:500px;" role="navigation">
			<div class="btn-group" style="width:500px;">
				<br>
				<a class="btn dropdown-toggle" data-toggle="dropdown" style="width:100%;" href="#">
					Date: JANUARY 1, 2015
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Attendance: 
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Public Input:
				</a>
				<ul class="dropdown-menu" style="width:485px; text-align:left; padding:20px; position:relative">
					<li>
						Members Present:
						<ul>
							<li>Bob</li>
							<li>Joe</li>
							<li>Smith</li>
						</ul>
					</li>
					<br>
					<li>
						Members Absent:
						<ul>
							<li>Bob</li>
							<li>Joe</li>
							<li>Smith</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
<%= @committee %>
<table>
<% @meetings.each do |meeting| %>
	<tr>
		<td><%=meeting.name %></td>
		<td><%=meeting.date %></td>
	</tr>
<%end%>
<% @absents.each do |absent| %>
	<tr>
		<td><%=absent.name %></td>
	</tr>
<%end%>
<% @events.each do |event| %>
	<tr>
		<td><%=event.name %></td>
		<td><%=event.description %></td>
	</tr>
<%end%>
</table>
<table>
	<tr>
		<%= @json %>
	</tr>
</table>
